In [9]:
%load_ext pycodestyle_magic
%pycodestyle_on
#%pycodestyle_off -to turn it off

In [10]:
a =   x

NameError: name 'x' is not defined

1:4: E222 multiple spaces after operator

In [1]:
import psycopg2

# connection establishment
conn = psycopg2.connect(
database="postgres",
	user='postgres',
	password='postgres',
	host='localhost',
	port= '5432'
)
conn.autocommit = True
 
# Creating a cursor object
cursor = conn.cursor()
 
# query to create a database 
sql = ''' CREATE DATABASE crypto ''';
 
# executing above query
cursor.execute(sql)
print("Database has been created successfully !!");
 
# Closing the connection
conn.close()

DuplicateDatabase: database "crypto" already exists

In [15]:
conn = psycopg2.connect(
database="postgres",
	user='postgres',
	password='postgres',
	host='localhost',
	port= '5432'
)
conn.autocommit = True

# Creating a cursor object
cursor = conn.cursor()

# query to create a database 
sql = ''' 
CREATE TABLE Crypto (
    id INT NOT NULL PRIMARY KEY,
    name VARCHAR(20) NOT NULL,
    ticker VARCHAR(5) NOT NULL
) ;
CREATE TABLE Time (
    id INT NOT NULL PRIMARY KEY,
    crypto_id INT NOT NULL references Crypto(id),
    timestamp TIMESTAMP,
    year INT,
    month INT,
    day INT,
    hour INT,
    minute INT,
    second INT
);
CREATE TABLE Price (
    id INT NOT NULL PRIMARY KEY,
    crypto_id INT NOT NULL references Crypto(id),
    time_id INT NOT NULL references Time(id),
    currency VARCHAR(20),
    open DECIMAL,
    close DECIMAL,
    volume DECIMAL
);

''';

# executing above query
cursor.execute(sql)
print("Database has been created successfully !!");

# Closing the connection
conn.close()

DuplicateTable: relation "crypto" already exists

2:1: E122 continuation line missing indentation or outdented
3:1: W191 indentation contains tabs
4:1: W191 indentation contains tabs
5:1: W191 indentation contains tabs
6:1: W191 indentation contains tabs
6:7: E251 unexpected spaces around keyword / parameter equals
13:29: W291 trailing whitespace
14:10: W291 trailing whitespace
16:1: E101 indentation contains mixed spaces and tabs
41:4: E703 statement ends with a semicolon
45:51: E703 statement ends with a semicolon