In [ ]:
%load_ext pycodestyle_magic
%pycodestyle_on
# %pycodestyle_off -to turn it off

In [1]:
from minio import Minio
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, TimestampNTZType, DecimalType
from binance import Client
import os
from dotenv import load_dotenv, dotenv_values
import logging
import sys
import numpy
sys.path.insert(0,'./pipelines/shared')
from utils import (
    parquet_to_df,
    data_cleaning,
    add_crypto_id,
    add_time_id,
    upload_time,
    upload_price,
)
import pyspark.pandas as ps
load_dotenv(dotenv_path="./pipelines/shared/main.env", override=True)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/21 13:03:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/Users/hamza/.local/share/virtualenvs/DE-Crypto-aeKJmBel/lib/python3.9/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

True

In [2]:
API_KEY = os.getenv("API_KEY")
SECRET_KEY = os.getenv("SECRET_KEY")
MINIO_USER = os.getenv("MINIO_ROOT_USER")
MINIO_PASSWORD = os.getenv("MINIO_ROOT_PASSWORD")
client_binance = Client(API_KEY, SECRET_KEY)

In [3]:
spark = SparkSession.builder \
    .appName("CryptoETL") \
    .config("spark.jars", "/Users/hamza/Desktop/projects/postgresql-42.7.5.jar") \
    .getOrCreate()
# Get the SparkContext from the SparkSession
sc = spark.sparkContext
sc._jsc.hadoopConfiguration().set("fs.s3a.access.key", MINIO_USER)#turn into access key in the future 
sc._jsc.hadoopConfiguration().set("fs.s3a.secret.key", MINIO_PASSWORD)
sc._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "http://localhost:9000")
sc._jsc.hadoopConfiguration().set("fs.s3a.connection.ssl.enabled", "true")
sc._jsc.hadoopConfiguration().set("fs.s3a.path.style.access", "true")
sc._jsc.hadoopConfiguration().set("fs.s3a.attempts.maximum", "1")
sc._jsc.hadoopConfiguration().set("fs.s3a.connection.establish.timeout", "5000")
sc._jsc.hadoopConfiguration().set("fs.s3a.connection.timeout", "10000")

25/05/21 13:03:44 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG) #set to debug to capture all levels
if logger.hasHandlers():
    logger.handlers.clear()
logger.propagate = False

In [5]:
handler = logging.StreamHandler()
handler.setLevel(logging.DEBUG)
logger.addHandler(handler)

In [6]:
client_minio = Minio(
    "localhost:9000",  # Make sure you're using port 9000 for the S3 API
    # minio_url,
    access_key=MINIO_USER,
    secret_key=MINIO_PASSWORD,
    secure=False,  # Disable SSL if you're not using SSL certificates
)

schema = StructType(
    [
        StructField(name="datetime", dataType=TimestampNTZType(), nullable=False),
        StructField(name="Open Price", dataType=DecimalType(), nullable=False),
        StructField(name="Close Price", dataType=DecimalType(), nullable=False),
        StructField(name="Volume", dataType=DecimalType(), nullable=False),
    ]
)
# doesnt work for parquet files, schema inferred from that instead


read_sql = "SELECT * FROM crypto"
#localhost for local development and container ip for containers
df_crypto = (
    spark.read.format("jdbc")
    .option("url", "jdbc:postgresql://localhost:5432/crypto")
    .option("user", "postgres")
    .option("password", "postgres")
    .option("query", read_sql)
    .option("driver", "org.postgresql.Driver")
    .load()
)

25/05/21 13:03:47 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [61]:
df = parquet_to_df(client_minio=client_minio, timeframe="monthly", crypto="BTCUSDT", schema=schema)
df_cleaned = data_cleaning(df)

In [26]:
#standard deviation - 1 year volatility, all time volatility and rolling volatility
#moving averages
#percentage changes in price and volume
#drawdown
#correlation
#

In [62]:
ps.set_option("compute.ops_on_diff_frames", True)

In [63]:
psdf = df_cleaned.pandas_api()

In [64]:
monthly_pct_change = psdf['close'].pct_change()
monthly_pct_change = monthly_pct_change.round(3)

In [65]:
psdf['monthly_pct_change'] = monthly_pct_change

In [66]:
std = psdf['monthly_pct_change'].rolling(window=12).std()

In [67]:
psdf['rolling_std_12_months'] = std

In [68]:
sma = psdf['monthly_pct_change'].rolling(window=12).mean()

In [69]:
psdf['sma'] = sma

In [71]:
psdf

              datetime         open        close         volume monthly_pct_change  rolling_std_12_months         sma
0  2019-01-01 00:00:00   3701.23000   3434.10000   908244.14054               None                    NaN        None
1  2019-10-01 01:00:00   8289.97000   9140.85000  1446763.02405              1.662                    NaN   0.1003333
2  2019-11-01 00:00:00   9140.86000   7541.89000  1499118.77500             -0.175                    NaN   0.0485833
3  2019-12-01 00:00:00   7540.63000   7195.23000  1307033.02038             -0.046                    NaN   0.1825833
4  2019-02-01 00:00:00   3434.10000   3813.69000   861783.98673             -0.470                    NaN  -0.0261667
5  2019-03-01 00:00:00   3814.26000   4103.95000   787190.48925              0.076                    NaN  -0.0475833
6  2019-04-01 01:00:00   4102.44000   5320.81000  1126961.31510              0.297                    NaN   0.1199167
7  2019-05-01 01:00:00   5321.94000   8555.00000  1498410.02562              0.608                    NaN        None
8  2019-06-01 01:00:00   8555.00000  10854.10000  1689489.64733              0.269                    NaN   0.1738333
9  2019-07-01 01:00:00  10854.10000  10080.53000  1886176.06592             -0.071                    NaN   0.0343333
10 2019-08-01 01:00:00  10080.53000   9587.47000  1201961.57632             -0.049                    NaN   0.1021667
11 2019-09-01 01:00:00   9588.74000   8289.34000  1116856.47584             -0.135               0.567995   0.0487500
12 2020-01-01 00:00:00   7195.24000   9352.89000  1691323.13778              0.128               0.541760   0.1705000
13 2020-10-01 01:00:00  10776.59000  13791.00000  1592634.41995              0.475               0.299814   0.0172500
14 2020-11-01 00:00:00  13791.00000  19695.87000  2707064.91117              0.428               0.304493   0.0855833
15 2020-12-01 00:00:00  19695.87000  28923.63000  2495281.85622              0.469               0.314211   0.0866667
16 2020-02-01 00:00:00   9351.71000   8523.61000  1609726.15456             -0.705               0.361417   0.1086667
17 2020-03-01 00:00:00   8523.61000   6410.44000  3789768.91313             -0.248               0.379052   0.0242500
18 2020-04-01 01:00:00   6412.14000   8620.00000  2528373.69112              0.345               0.381312   0.0640833
19 2020-05-01 01:00:00   8620.00000   9448.27000  2685340.07851              0.096               0.349842        None
20 2020-06-01 01:00:00   9448.27000   9138.55000  1504745.51792             -0.033               0.346127   0.0792500
21 2020-07-01 01:00:00   9138.08000  11335.46000  1507827.21494              0.240               0.347205   0.0745833
22 2020-08-01 01:00:00  11335.46000  11649.51000  1891193.00713              0.028               0.345224        None
23 2020-09-01 01:00:00  11649.51000  10776.59000  1730389.16018             -0.075               0.342079   0.1230000
24 2021-01-01 00:00:00  28923.63000  33092.98000  3440864.75002              2.071               0.665616   0.2700000
25 2021-10-01 01:00:00  43820.01000  61299.80000  1565556.29262              0.852               0.685413   0.0995455
26 2021-11-01 00:00:00  61299.81000  56950.56000  1291900.10525             -0.071               0.691325        None
27 2021-12-01 00:00:00  56950.56000  46216.93000  1233745.52432             -0.188               0.698163   0.0112500
28 2021-02-01 00:00:00  33092.97000  45135.66000  2518242.14852             -0.023               0.644113  -0.0503333
29 2021-03-01 00:00:00  45134.11000  58740.55000  2098808.02743              0.301               0.624771        None
30 2021-04-01 01:00:00  58739.46000  57694.27000  1993468.93801             -0.018               0.630901   0.0920833
31 2021-05-01 01:00:00  57697.25000  37253.81000  3536245.25657             -0.354               0.654781   0.0491818
32 2021-06-01 01:00:00  37253.82000  35045.00000  2901775.30592             -0.059               0.655764   0.1163636
33 2021-07-01 01:00:00  35045.00000  41461.83000  1778463.26484              0.183               0.655854  -0.0598333
34 2021-08-01 01:00:00  41461.84000  47100.89000  1635402.87425              0.136               0.653709        None
35 2021-09-01 01:00:00  47100.89000  43824.10000  1527799.51077             -0.070               0.653499   0.0725833
36 2022-01-01 00:00:00  46216.93000  38466.90000  1279407.46572             -0.122               0.306226   0.0460000
37 2022-10-01 01:00:00  19422.61000  20490.74000  7499121.81542             -0.467               0.213918   0.1643333
38 2022-11-01 00:00:00  20490.74000  17163.64000  9127693.50907             -0.162               0.215844   0.0790000
39 2022-12-01 00:00:00  17165.53000  16542.40000  5803833.88187             -0.036               0.212744   0.0308182
40 2022-02-01 00:00:00  38466.90000  43160.00000  1253514.21906              1.609               0.526758   0.1874167
41 2022-03-01 00:00:00  43160.00000  45510.34000  1501398.79591              0.054               0.522075  -0.0422500
42 2022-04-01 01:00:00  45510.35000  37630.80000  1267655.68178             -0.173               0.526024   0.0900833
43 2022-05-01 01:00:00  37630.80000  31801.04000  2387839.68080             -0.155               0.515332   0.1087273
44 2022-06-01 01:00:00  31801.05000  19942.21000  2816058.47323             -0.373               0.529777   0.1044167
45 2022-07-01 01:00:00  19942.21000  23293.32000  4983278.58810              0.168               0.529414   0.0514167
46 2022-08-01 01:00:00  23296.36000  20050.02000  5692462.41571             -0.139               0.530552   0.0718333
47 2022-09-01 01:00:00  20048.44000  19422.61000  9838930.53657             -0.031               0.530129   0.0623333
48 2023-01-01 00:00:00  16541.77000  23125.13000  7977028.87801              0.191               0.530507   0.1337500
49 2023-10-01 01:00:00  26962.57000  34639.77000  1141403.67990              0.498               0.519612   0.0943333
50 2023-11-01 00:00:00  34639.78000  37723.96000  1055690.59638              0.089               0.512187        None
51 2023-12-01 00:00:00  37723.97000  42283.58000  1195409.97600              0.121               0.509228   0.0272500
52 2023-02-01 00:00:00  23125.13000  23141.57000  8642691.27165             -0.453               0.261695   0.0419167
53 2023-03-01 00:00:00  23141.57000  28465.36000  9516189.35846              0.230               0.270804   0.0830000
54 2023-04-01 01:00:00  28465.36000  29233.21000  1626745.55850              0.027               0.265441        None
55 2023-05-01 01:00:00  29233.20000  27210.35000  1302000.49221             -0.069               0.261584   0.1666667
56 2023-06-01 01:00:00  27210.36000  30472.00000  1387207.48275              0.120               0.230893   0.0501667
57 2023-07-01 01:00:00  30471.99000  29232.25000   925773.81731             -0.041               0.230106        None
58 2023-08-01 01:00:00  29232.26000  25940.78000  1025866.55023             -0.113               0.228329   0.0515833
59 2023-09-01 01:00:00  25940.77000  26962.56000   809329.04893              0.039               0.227034   0.0890833
60 2024-01-01 00:00:00  42283.58000  42580.00000  1403408.84978              0.579               0.271675   0.0890000
61 2024-10-01 01:00:00  63327.60000  70292.01000   756010.86343              0.651               0.295349   0.1486667
62 2024-11-01 00:00:00  70292.01000  96407.99000  1343559.24220              0.372               0.305655   0.1985000
63 2024-12-01 00:00:00  96407.99000  93576.00000  1019450.06577             -0.029               0.308747   0.0122500
64 2024-02-01 00:00:00  42580.00000  61130.98000  1206112.69545             -0.347               0.292270   0.0765000
65 2024-03-01 00:00:00  61130.99000  71280.01000  1706807.38134              0.166               0.290625        None
66 2024-04-01 01:00:00  71280.00000  60672.00000  1201500.95852             -0.149               0.299656   0.0672500
67 2024-05-01 01:00:00  60672.01000  67540.01000   945031.04072              0.113               0.294990   0.1455833
68 2024-06-01 01:00:00  67540.01000  62772.01000   696818.18818             -0.071               0.299718   0.1116667
69 2024-07-01 01:00:00  62772.01000  64628.00000   908004.33426              0.030               0.297427   0.0723333
70 2024-08-01 01:00:00  64628.01000  58973.99000  1010291.47396             -0.087               0.295798   0.0432500
71 2024-09-01 01:00:00  58974.00000  63327.59000   734117.07575              0.074               0.295254   0.1038182